/* My Little Pond Online */

/* Remove browser styles*/
	
	html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
		}
			
html { 
	min-width: 770px; 
	 }
	 
	 
body	{	
	margin: 0 auto;
	width: 100%;
	padding: 0;
	border: 0;	
	font-family: serif;
	
	}

.page	{
	margin: 0 auto;
	width: 93.75%; /*900px / 960px*/
		}
		

h1	{
	margin-top: 100px;
	font-size: 4em;
	font-family: 'gravitas one';
    text-transform: uppercase;
	text-align: center;
	color: #399c3e;
	padding-bottom: 50px;
		
}

img {
	max-width: 100%;
	}

.nav	{
	margin: 0 auto;
	width:100%;
	text-align: center;
	clear: both;
	font-size: 2em;
	font-family: "lato", sans-serif;
	font-weight: 100;
	letter-spacing: -2;
    text-transform: uppercase;
	}

	
.nav a {
	margin-left: 1em;
	margin-right: 1em;
	}

.nav ul li	{
	display: inline;
	}

.main	{
	margin: 100px auto 0;
	}

.main p	{
	text-align: center;
	font-family: PT Mono, mono-spaced;
	margin: 0 auto;
	line-height: 1.5em;
	width: 460px;
	}

.main p a   {
       text-decoration: underline;
       }

a {
	color: #399c3e;
	text-decoration: none;
	padding-bottom: 1px;
	}
	
a:hover {
	opacity: .8;
	}

.right {
	text-align: right;
	}

#recent ul li{
	text-align: center;
	margin: 50px auto 0;
        list-style: none;
	}	

#recent img	{
	
	box-shadow: 5px 5px 13px #000;
	}

#recent p	{
	text-align: center;
	font-family: PT Mono, mono-spaced;
	line-height: 1.5em;
	width: 400px;
	}

footer {
	height: 350px;
	background-color: #000;
	margin: 50px auto 0;
	text-align: center;
	position: relative;
	padding: 15px;
	}
	
footer div 	{
	width: 30%;
	margin: 0 auto;
 	color: #fff;
    font: 100 42px/42px "lato";
    letter-spacing: -2px;
    text-transform: uppercase;
	}
	
#skills	{
	float: left;
	}

#skills ul	{
	padding-top: 40px;
	padding-left: 80px;
	}

#skills	ul li {
	text-align: left;
	font-size: .6em
	}

#skills a	{
	padding-top: 100px;
	font-size: .6em;
	}
	
#contact	{
	float: left;
	padding:0 10px;
	margin: 0 15px;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	height: 100%;
	}
	
#contact i	{
	padding: 15px;
	}

#tweets	{
	float: left;
	color: #fff;
	}
	
#tweets	p	{
	margin-bottom: 25px;
	}

	
.year {
	background-color:  #000;
	color: #fff;
	font: 100 18px/18px "lato";
	text-align: center;
	padding: 2em 0;
	}