/* My Little Pond Online */

/* Remove browser styles*/
	
	html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
		}
			
html { 
	min-width: 770px; 
	 }
	 
	 
body	{	
	margin: 0 auto;
	width: 100%;
	padding: 0;
	border: 0;	
	font-family: serif;
	
	}

.page	{
	margin: 0 auto;
	width: 93.75%; /*900px / 960px*/

		}

#topBanner {
	height: 25px;
	background-color: #fff;
	margin: 0 auto;
	text-align: center;
	padding: 15px;
	
	}		

.logo h1	{
	margin-top: 5px;
	font-size: 1em;
	font-family: 'Bauhaus 93', 'Erica One', sans-serif;
	text-align: left;
	color: #000;
	padding-bottom: 10px;
		
}

#main	{
	height: 500px;
	margin: 0 auto;
	background-color: #534ACC;
	padding: 15px;
	}

#main h1	{
	text-align: center;
	margin: 0 auto;
	font-size: 3em;
	font-family: 'Braggadocio', 'Erica One', 'Times New Roman', serif;
	line-height: 1.5em;
	width: 460px;
	}

#main p a   {
       text-decoration: underline;
       }
       
#main ul {
	list-style: none;
	}
	
#main ul li {
	display: inline;
	float: left;
	margin:100px auto 0 17%;
	height: 140px;
	width: 140px;
	border-radius: 100%;
	box-shadow: 10px 10px 50px #333;
	background-color: #3A7230;
	}
	
#main ul li div	{
	display: inline;
	float: left;
	margin: 5% auto 0 5%;
	height: 125px;
	width: 125px;
	border-radius: 70%;
	box-shadow: 2px 2px 20px #333;	
	background-color: #6EBF60;
	}

#little	{
	height: 500px;
	margin: 0 auto;
	background-color: #3A7230;
	padding: 15px;
	}

#little h1	{
	text-align: center;
	margin: 7% auto 0;
	font-size: 3em;
	font-family: 'Braggadocio', 'Erica One', 'Times New Roman', serif;
	line-height: 1.5em;
	width: 460px;
	}

#little ul li {
	display: inline;
	float: left;
	margin:40px auto 0 19%;
	height: 95px;
	width: 95px;
	background-color: #fff;
	}
	
#little ul li div	{
	display: inline;
	float: left;
	margin:38% auto 0 38%;
	height: 20px;
	width: 20px;
	background-color: #534ACC;
	}

#little p	{
	text-align: center;
	margin: 0 auto;
	line-height: 1.5em;
	width: 460px;
	}
	
#pond	{
	height: 500px;
	margin: 0 auto;
	background-color: #fff;
	padding: 15px;
	}
	
#pond h1	{
	text-align: center;
	margin: 7% auto 0;
	font-size: 3em;
	font-family: 'Braggadocio', 'Erica One', 'Times New Roman', serif;
	line-height: 1.5em;
	width: 460px;
	}

#pond ul li {
	display: inline;
	float: left;
	margin:40px auto 0 17%;
	height: 115px;
	width: 145px;
	background-color: #6EBF60;
	}	

#pond p	{
	text-align: center;
	margin: 0 auto;
	line-height: 1.5em;
	width: 460px;
	}
	
#hexagon {
	width: 100px;
	height: 50px;
	background: #3A7230;
	position: relative;
	margin-left: 15%;
	margin-top: 21%;
	}

#hexagon:before {
	content: "";
	position: absolute;
	top: -25px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 25px solid #3A7230;
	}
	
#hexagon:after {
	content: "";
	position: absolute;
	bottom: -25px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 25px solid #3A7230;
	}

#online {
	height: 500px;
	width: 100%;
	background-color:#242424; 
	text-align: center;	
	padding: 15px;
	}

#online h1	{
	text-align: center;
	margin: 2% auto 0;
	font-size: 3em;
	font-family: 'Braggadocio', 'Erica One', 'Times New Roman', serif;
	line-height: 1.5em;
	color: #fff;
	width: 460px;
	}
	
#holder {
	float: left;
	width: 80%;
	height: 300px;
	background-color: #313131;
	margin: 30px 0 0 10%;
	border: 5px solid #000
	}
	
#online ul {
	list-style: none;
	}
	
#online ul li {
	float: left;
	display: inline;
	margin: 30px 0 0 8%;
	height: 190px;
	width: 240px;
	color: #959695;
	text-align: center;
	font-family: garamond;
	}
	
#online span {
	line-height: 2.1em;
	font-size: 1.4em;
	text-transform: uppercase;
	
	}
	
/*#online ul li div	{
	display: inline;
	float: left;
	margin:38% auto 0 38%;
	height: 20px;
	width: 20px;
	background-color: #3A7230;
	}
*/

footer {
	height: 15px;
	width: 100%;
	background-color: #3A7230;
	font-family: 'Bauhaus 93', 'Erica One', sans-serif;
	margin:0 auto;
	text-align: center;
	padding: 15px;
	}
	