/* Brendan Tronconi.com */

/* Remove browser styles*/
	
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
		}
			 
	 
body	{	
	margin: 0 auto;
	width: 100%;
	max-width: 1100px;
	padding: 0;
	border: 0;	
	}

.page	{
	margin: 0 auto;
		}
		
a {
	color: #000;
	text-decoration: underline;
	padding-bottom: 1px;
	}
	
a:hover {
	opacity: .8;
	}

#banner	{
	height: 572px;
	width: 100%;
	background-color: #3A7230;
	margin: 0;
	padding: 0;
	}	
	
#banner a {
	text-decoration: none;
	}	

h1	{
	float: left;
	width: 420px;
	font-size: 3em;
	line-height: 1.5em;
	font-family: 'gravitas one';
	text-align: center;
	color: black;
    margin-top: 35px;
	}
	
h2	{
	font-family: 'lato';
	}

img {
	max-width: 100%;
	}

#desc	{
	float: left;
	width: 405px;
	margin-left: 5%;
	text-align: center;
	}

#desc p {
	font-size: .8em;
	line-height: 1.8em;
	font-family: "lato", sans-serif;
	margin-left: 2px;
	}
	
#desc span {
	text-decoration: line-through;
	}

#contact	{
	width: 300px;
	clear: right;
	float: right;
	text-align: right;
	margin-right: 14%;
	margin-top: 55px;
	font-family: 'lato';
	font-size: 1.3em;
	line-height: 1.3em;
	color: #000;
	}	
	
#contact i	{
	padding: 10px;
	color: #000;
	}
	
#contact a	{
	color: #000;
	text-decoration: none;
	}

#recent	{
	height: 1700px;
	padding-bottom: 10px;
	}
	
#recent ul {
	list-style: none;
	margin: 80px 0 0;
	}
	
#recent li {
	margin:0 0 300px 40%;
	padding: 10px;
	text-align: none;
	width: 200px;
	float: left;
	}
	
#recent img	{
	margin: 10px;
	padding: 0;
	box-shadow: 0px 5px 10px #000;
	}

#recent p	{
	text-align: center;
	margin: 0;
	padding: 10px;
	font-family: "lato", sans-serif;
	line-height: 1.3em;
	width: 100%;
	}
	
#recent span 	{
	font-style: oblique;
	color: black;
	}
	
#recent a {
	color: black;
	}
		
footer {
	clear: both;
	background-color: #3A7230;
	color: #000;
	font: 400 16px/16px "lato";
	text-align: center;
	padding: 5px;
	}
	
.hidden {
	display: none;
	}

	
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


@media all and (min-width: 660px) {



h1	{
	float: left;
	width: 450px;
	font-size: 3.2em;
	}

#desc p {
	font-size: 2.2em;

	}

#contact {
	font-size: 2.3em;
	}

#recent p {
	font-size: 2.2em;
	}

	
footer {
	height: 180px;
	color: #000;
	background-color:#3A7230;
	}	
	

	
footer p {
	font-size: 2.4em;
	margin: 90px auto 10px 8%;
	}

	
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	
	@media all and (min-width: 890px) and (orientation: landscape), (min-device-width: 890px) {
	
	
	


#main {
	height: 750px;
}

#main ul li {
	margin:50px auto 50px 9%;
	}
	

	


footer {
	width: 810px;
	color: #000;
	background-color:  #3A7230;
	}	

	
footer p{
	font-size: 2em;
	margin: 0 auto 5px 20%;
	}
	


////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

@media all and (min-width: 1130px), (min-device-width: 1130px){
 
}}}}}}}}