/* Brendan Tronconi.com */

/* Remove browser styles*/
	
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
		}
			 
	 
body	{	
	margin: 0 auto;
	width: 100%;
	max-width: 1100px;
	padding: 0;
	border: 0;	
	background-color: #3A7230;
	}

		
a {
	color: #3A7230;
	text-decoration: underline;
	padding-bottom: 1px;
	}
	

.header	{
	height: 472px;
	width: 100%;
	background-color: #f4f4f4;
	font-family: 'lato';
	font-size: 1.5em;
	}	

h1	{
	float: left;
	font-size: 3em;
	font-family: 'gravitas one';
	text-align: center;
	color: #3A7230;
    margin-top: 100px;
    margin-bottom: 40px;
    max-width: 100%;
	}
	
h2	{
	font-family: 'lato';
	}

img {
	max-width: 100%;
	}



.nav li {
	float: left;
}

.nav a {
	color: #000;
}

.nav a:hover {
	color: #3A7230;
	transition-duration: 1s;
	text-decoration: none;
}

nav ul li a {
	text-decoration: none;
	}	

.navbar-brand {
	color: #000;
	text-decoration: none;
}

.navbar-brand:hover {
	color: #3A7230;
}

#desc	{
	float: left;
	margin-left: 70px;
	text-align: center;
	max-width: 31rem;

	}

#desc p {
	font-size: 1.3em;
	line-height: 1.5em;
	font-family: "lato", sans-serif;
	margin-top: 30px;
	color: #000;
	}

#recent	{
	height: 2150px;
	background-color: #2D2E34;

	}
	
#recent ul {
	list-style: none;
	padding-top: 80px;
	}
	
#recent li {
	padding: 10px 0 100px 10%;
	margin: 20px 0 0 0;
	max-width: 480px;
	height: 300px;
	float: left;
	}
	
#recent img	{
	margin: 10px;
	padding: 0;
	box-shadow: 0px 5px 10px #000;
	}

#recent p	{
	text-align: center;
	margin: 70px 0 0 0;
	padding: 10px;
	font-size: 1.3em;
	font-family: "lato", sans-serif;
	line-height: 1.3em;
	width: 100%;
	}
	
#recent span 	{
	color: #BEC4CC;
	}

#recent a:hover {
	color: #f4f4f4;
	transition-duration: 1s;

}

footer {
	font-family:'lato';
	font-size: 1.5em;
}

footer .copy {
    margin: -20px 95px 0 0;
    color: purple;
    float: right;
}

footer a{
	color: black;
	text-decoration: none;
	padding: 10px;
}

footer a:hover {
	color: #f4f4f4;
	text-decoration: none;
	transition-duration: 1s;
}

.copy-date {
    margin-top: 20px;
    color: black;
}

.content-padding {
    margin: 50px auto;
}


/*
@media all and (min-width: 400px) {




#desc p {
	font-size: 2em;
		
	}

#recent li {
	margin:0 0 0 1%;
	padding: 10px 0 100px;
	text-align: none;
	width: 400px;
	float: left;
	}
	
#recent img	{
	margin: 5px;
	padding: 0;
	box-shadow: 0px 5px 10px #000;
	}

#recent p {
	font-size: 1.7em;
	}	



	


@media all and (min-width: 660px) {



#desc	{

	width: 31rems;

	}


/*


h1	{
	font-size: 4em;

	}

#desc	{

	width: 500px;
	height: 400px;

	}

#desc p {
		font-size: 2.2em;
		
	}

#recent p {
	font-size: 1.9em;
	}	

#recent li {
	margin-left: 15%;
}

		

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
 */


@media all and (min-width: 960px){

#recent	{
	height: 2200px;
	}

	footer {
	font-size: 1.3em;
	}

	.header	{
	font-size: 1.3em;
	}

@media all and (min-width: 1000px){

#recent	{
	height: 1200px;
	}

 }

 
 
