/* Brendan Tronconi.com */

/* Remove browser styles*/
	
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
		}
			 
	 
body	{	
	margin: 0 auto;
	width: 100%;
	padding: 0;
	border: 0;	
	background-color: #f4f4f4;
	}

		
a {
	color: #3A7230;
	text-decoration: none;
	padding-bottom: 1px;
	}

a:hover {
	text-decoration: none;
	}


a:visited {

	color: #3A7230;
	opacity: .8;
	text-decoration: none;
}



.container-fluid {
	padding: 0;
}

.header	{
	height: 700px;
	max-width: 1100px;
	background-color: #f4f4f4;
	font-family: 'lato';
	margin: 0 auto;
	}	

h1	{
	float: left;
	font-size: 3em;
	font-family: 'gravitas one';
	text-align: center;
	color: #3A7230;
    margin-top: 80px;
    margin-bottom: 40px;
    max-width: 100%;
	}
	
h2	{
	font-family: 'lato';
	font-size: 30px;
	line-height: 1.5em;
	color: #f4f4f4;
	margin: 40px;
	}

img {
	max-width: 100%;
	}



.nav li {
	float: left;
	font-size: 30px;
	line-height: 3.3em;
}

.nav a {
	color: #000;
}

.nav a:hover {
	color: #3A7230;
	transition-duration: 1s;
	text-decoration: none;
}

nav ul li a {
	text-decoration: none;
	}	

.navbar-brand {
	color: #000;
	text-decoration: none;
	padding-top: 25px;
	font-size: 30px;
}

.navbar-brand:hover {
	color: #3A7230;
}

#desc	{
	float: left;
	margin-left: 20%;
	text-align: center;
	max-width: 37rem;

	}

#desc p {
	font-size: 30px;
	line-height: 1.5em;
	font-family: "lato", sans-serif;
	color: #000;
	}

#recent	{
	height: 4500px;
	background-color: #2D2E34;
	}
	
#recent article {
	margin: 50px 0 0 50px;
	float: left;
	text-align: center;
	}

.cp {
	width: 80%;
	margin: 50px;
	}

#recent .wa {
	width: 700px;
	margin-left: 19%;
}
	
#recent img	{
	margin: 20px;
	padding: 0;
	max-width: 450px;
	float: left;
	box-shadow: 0px 5px 10px #000;
	}

#recent p	{
	text-align: left;
	padding: 20px 30px 0;
	font-size: 30px;
	font-family: "lato", sans-serif;
	line-height: 1.3em;	
	}
	
#recent span 	{
	color: #BEC4CC;
	}

#recent a:hover {
	color: #f4f4f4;
	transition-duration: 1s;

}

footer {
	font-family:'lato';
	max-width: 1100px;
	margin: 0 auto;

}

footer .copy {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

footer a:link{
	color: black;
	text-decoration: none;
}

footer a:visited {
	color: #000;
	opacity: .8;
	text-decoration: none;

}

footer a:hover {
	color: #000;
	text-decoration: none;
	transition-duration: 1s;
}


footer a:active{

	color: #000;
	opacity: .8;
	text-decoration: none;
}

footer .copy div {
	display: block;
	margin: 0 43px 0;
	font-size: 45px;
	float: left;
}

.copy i {
	padding: 10px;
}

.copy-date {
    display: block;
    float: left;
    color: black;
    max-width: 11em;
  	margin: 10px 0 10px ;
  	font-size: 22px;
}

.content-padding {
    margin: 50px auto;
}


/*
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
 */


@media all and (min-width: 1160px){

.header	{
	font-size: 1.3em;
	height: 592px;
	}

.navbar-brand {
	font-size: .8em;
}

.nav li {
	font-size: .8em;
	}

#desc p {
	font-size: 1.3em;
	}

#recent {
	height: 3600px;
}

#recent p	{
	font-size: 1.3em;
	max-width: 900px;
	}

#recent article {
	margin: 50px 0 0 50px;
}

footer .copy div {
	font-size: 25px;
	}

footer .copy {
    margin: 0;
	}


 }


