* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table
}
.clearfix:after {
    clear: both
}
.clearfix {
    *zoom: 1
}
html {
    font-size: 100%;
    position: relative;
    background-color: #333
}
html,
body {
    min-height: 100%
}
body {
    font-family: "Open Sans", Tahoma, sans-serif;
    line-height: 1.7;
    color: #111;
    position: relative;
    overflow-x: hidden;
    z-index: 1;
    background-color: #fff;
    font-size: 20px;
    font-size: calc(14px + .3vw + .3vh);
    font-weight: 300;
    max-width: 90em;
    font-family: "Open Sans";
    font-weight: 300
}
@media (min-width: 90em) {
    body {
        font-size: 1.4vw
    }
}
.wrapper {
    margin: 0 auto;
    padding: 0 1em
}

.container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

@media all and (min-width: 1024px) {
    .container,
    .wrapper {
        width: 85vw;
        max-width: 1700px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row
    }
}
.full-width {
    background-color: white;
    overflow: hidden
}

.full-width-rev {
    background-color: #000;
    color: #fff;
}
.main {
    padding: 1em
}

a {
    color: #FF006F;
    text-decoration: none;
}

a:visited {
    opacity: .2;
}

img {
    border: 1px solid #f1f1f1;
    height: auto;
    margin-top: 1em;
    width: 100%;
}cd



@media (min-width: 1024px) {
    .main {
        max-width: 1500px;
        margin: 0 auto
    }
    .full {
        width: 100%
    }
    .main--wider {
        width: 80%;
        margin: 0 auto
    }
}

.descriptor {
    font-family: Open Sans, sans-serif;
    letter-spacing: 1.5px;
    font-weight: 300;
    text-transform: uppercase
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.3;
    margin: 1.5em 0 .75em
}

h2 {
    font-size: 1.8em
}

p {
    margin: 1.75em 0 2em
}
p:first-of-type {
    margin-top: 0
}

p,
ul,
ol {
    margin-bottom: 1em
}

.filler{
    height: 340px;
}


@media screen and (max-width: 71.875em) {
    html {
        font-size: 90%
    }
}
@media screen and (max-width: 61.25em) {
    html {
        font-size: 85%
    }
}



